<% content_for :header do %>
<% end %>

<% content_for :footer do %>
<% end %>

<div class="packages-confirmation-container container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-md-8 text-center">
            <%= icon('fa-solid', 'circle-check', class: 'text-success fs-1 mt-5 mb-3') %>

            <h3>Your appointment schedule has been received</h3>
            <p class="lead">We will contact you for more details.</p>

            <%= link_to 'Back', '/', class: 'btn btn-primary mt-3' %>
        </div>
    </div>
</div>