<% content_for :header do %>
<% end %>

<% content_for :footer do %>
    <script>
        $(function()
        {
            let checkoutNewContainer = '.checkout-new-container',
                otherInput = $('input#meeting_other', checkoutNewContainer),
                categorySelect = $('select#meeting_category', checkoutNewContainer);

            categorySelect.on('change', function ()
            {
                otherInput.prop('disabled', $(this).val() == "Others" ? false : true).val("");
            });
        });
    </script>
<% end %>

<div class="checkout-new-container container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-md-8">
            <div class="card">
                <div class="card-header text-center display-6">
                    SCHEDULE A MEETING
                </div>
                <div class="card-body">
                    <!-- <%= render partial: "bookings", locals: { booking: @booking, packages_name: @packages_name, addons: @addons } %> -->

                    <%= render partial: "meetings", locals: { meeting: @meeting, categories_array: @categories_array } %>
                </div>
            </div>
        </div>
    </div>
</div>