<% content_for :header do %>
<% end %>

<% content_for :footer do %>
<% end %>

<div class="new-user-container">
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">New User</h1>
    </div>

    <%= render "form", user: @user, submit_text: 'Create' %>
</div>