<% content_for :header do %>
<% end %>

<% content_for :footer do %>
<% end %>

<div class="new-addon-container">
	<nav class="mt-3" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to "Addon", addons_path %></li>
    		<li class="breadcrumb-item active" aria-current="page">New Addon</li>
		</ol>
	</nav>

    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          	<%= link_to icon('fa-solid', 'angle-left'), addons_path %> New Addon
      	</h1>
    </div>

	<%= render "form", addon: @addon, btn_title: 'CREATE' %>

	<div class="my-3">
        <%= link_to "Back to addons", addons_path %>
    </div>
</div>