<div class="about-container container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <h1 class="display-6 text-center my-5">About Us</h1>

            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tellus justo, convallis ac viverra eu, 
                aliquam id nunc. Proin pretium sagittis faucibus. In vel fermentum ante. Sed vel nisl lorem. 
                Donec in venenatis massa. Donec leo nibh, tempor vitae feugiat non, viverra ac sem. 
                In tempus, urna in commodo porta, tellus turpis posuere libero, porttitor faucibus lectus tortor ut lorem. 
                Duis tempor vulputate orci, quis viverra sapien iaculis ut. Donec posuere, urna vitae bibendum scelerisque, 
                felis leo pretium dui, finibus scelerisque lectus tortor a eros. 
                Cras feugiat lorem magna, vitae dignissim nibh molestie ut. Proin at arcu nec felis porttitor varius. Ut nec arcu ipsum.
            </p>

            <%= image_tag "img-8.jpg", class: 'd-block mx-auto my-5', alt: "Test" %>

            <figure class="text-center my-5">
                <blockquote class="blockquote">
                    <p>PNeque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Aliquam convallis faucibus <cite title="Source Title">Mauris id Pellentesque</cite>
                </figcaption>
            </figure>

            

            <p class="lead">
                Duis ultrices viverra augue at tristique. Praesent quis mollis arcu. Aliquam neque tellus, mattis ut metus sed, egestas rutrum lectus. 
                Nunc ornare odio quis molestie egestas. Fusce libero magna, efficitur id lacus id, semper fermentum enim. In quis sapien sit amet est eleifend aliquet nec ut ipsum. 
                Nam vel blandit dolor, vel feugiat eros. Pellentesque ultricies, lorem nec commodo tristique, purus dolor dignissim purus, id ornare nisi nunc vitae justo. 
                Aliquam dictum sit amet orci blandit sodales. Nulla fringilla neque mi, quis volutpat tellus tincidunt vel. Vivamus suscipit ipsum tellus, sed mattis diam gravida vitae. 
                Duis sem quam, ultrices ac condimentum vitae, scelerisque eu eros. Cras sagittis eros lacus, ac semper velit finibus eget.
            </p>
        </div>
    </div>
</div>