<% content_for :header do %>
<% end %>
<% content_for :footer do %>
<% end %>

<div class="about-container container-fluid">
    <div class="row">
        <div class="section-1 col"></div>
    </div>
    <div class="row justify-content-center">
        <div class="section-2 col-10 py-5">
            <div class="row justify-content-center">
                <div class="col-10 col-md-6">
                    <h1 class="text-center fw-bold my-5">ABOUT</h1>

                    <p class="h4 text-center mb-5 pb-5">Your important life events are so precious they deserve to be documented professionally.</p>
                </div>
            </div>
            <div class="row justify-content-center pb-5">
                <div class="col col-md-10">
                    <div class="row justify-content-center mt-5">
                        <div class="col-10 col-md-6">
                            <p>Our team has more than a decade of experience in various roles in the industry; we've seen it all.
                            As a group of artists fueled with a passion for continuous learning, what we can offer are the services polished by
                            lessons through training, mentor guidance, and experiences we learned over the years.</p>

                            <p>We don't just shoot photos and videos; we capture emotions - we want you to enjoy every moment and then marvel at the
                            stories artfully crafted from the memories you shared with your favorite people in the world!</p>
                        </div>
                        <div class="col-10 col-md-6">
                            <p>We'll meet with you to get to know your tastes - You can freely customize our package according to your needs. Pick from the variety of services we can provide.</p>

                            <p>On the day of the event, we will address all of the intricacies and provide you with a stress-free experience. We will focus on what we do best: Capture the finest moments.
                            What we require from you is to have fun and enjoy.</p>
                        </div>
                        <div class="col-10 col-md-12">
                            <%= image_tag('about-team.png', :class => "img-fluid mx-auto d-block rounded-4 w-100 my-5") %>
                        </div>
                        <div class="col-10 col-md-12">
                            <p>Expect high-quality images and footage filled with stories. In every page turned, no matter how old, a flood of vivid memories will emerge,
                            your friends and family will repeat, "That was the best event I've ever been to." until you are almost sick of hearing it.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>