<% content_for :header do %>
<% end %>
<% content_for :footer do %>
<% end %>

<div class="about-container container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <h1 class="display-6 text-center my-5">About</h1>
        </div>
    </div>
</div>