header {
    .logo {
        height: 50px;
        width: 250px;
    }

    .navbar-collapse { flex-grow: 0; }

    .profile-pic { padding: 6px 10px 8px; }
}

body {
    main { margin-top: 4.5rem; }

    // Main Layout
    .main-container {
        .section-1 {
            background-repeat: no-repeat;
            background-size: cover;
            border-bottom-left-radius: 7rem;
            border-top-right-radius: 7rem;
            color: #fff;
            height: calc(100vh - 73px);

            .container-fluid {
                h1 { font-size: 4em; }
                p { font-size: 1.5em; }
            }
        }

        .section-2 {
            background: url('rectangle-white.png') left top no-repeat;
            background-size: contain;
            background-color: #f3f3f1;

            .services {
                background-color: rgba(213, 218, 251, 0.5);
                border-bottom-left-radius: 7rem;
                border-bottom-right-radius: 7rem;

                .item {
                    background-color: #fff;
                    height: 100%;
                    text-align: center;

                    .album-icon { padding-bottom: 9px; }
                }
            }

            .partners {
                .list { background-color: rgba(213, 218, 251, 0.5); }
            }
        }

        .section-3 {
            background: linear-gradient(180deg, rgba(191, 149, 39, 1) 0%, rgba(227, 209, 161, 1) 50%);
            border-top-left-radius: 7rem;

            .row .rounded { background-color: #e8e8f5; height: 100%; }
        }

        .section-4 {
            background-color: #fff;

            .row {
                .rounded { background-color: #e9ecef; height: 100%; }
                .form-floating > .form-control { background-color: #e9ecef; height: auto; }
            }
        }
    }

    // Packages Page
    .packages-container {
        background: rgb(191, 149, 39);
        background: linear-gradient(160deg, rgba(191, 149, 39, 1) 0%, rgba(191, 149, 39, 1) 20%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);
        border-top-left-radius: 15rem;

        .card-cont {
            background-color: rgba(200, 200, 200, 0.5);

            .card:hover {
                border: 1px solid #999;
                box-shadow: 0px 0px 10px rgba(141, 141, 141, 0.6);
            }
        }
    }

    // Gallery Page
    .gallery-container {
        .card:not(.feature) {
            background-color: transparent !important;

            a {
                color: inherit;

                &:hover { text-decoration: underline !important; }
            }
        }

        .card.feature {
            img { max-height: 400px; }
        }
    }

    // Gallery Show Page
    .gallery-show-container {
        .created-date { font-size: 12px; }
        .add-comment-text { font-size: 25px; }
        video { width: 100%; }
        *:focus { outline: none !important; }
        figure {
            .figure-img { margin-bottom: 0; }

            & +  .fb-share-button {
                line-height: 0;
                iframe { height: 15px !important; width: 50px !important; }
            }
        }
    }

    // About Page
    .about-container {
        .row:first-child { margin-bottom: -4rem; }

        .section-1 {
            background: url('about-top.png') bottom center no-repeat;
            background-size: cover;
            height: 70vh;
        }

        .section-2 {
            background-color: rgba(200, 200, 200, 0.5);
        }
    }
}

footer {
    border-top: 1px solid #e7e7e7;
}

@media (max-width: 575.98px) {
    .main-container .section-1 {
        background-image: url('main-photo-450.jpg');
    }
}

@media(min-width: 576px) {
    .main-container .section-1 {
        background-image: url('main-photo-450.jpg');
    }
}

@media (max-width: 767.98px) {
    .main-container {
        .section-2 {
            background-size: 50% 100% !important;
        }
    }
}

@media (min-width: 768px) {
    .main-container .section-1 {
        background-image: url('main-photo-760.png');
    }
}

@media (min-width: 992px) {
    .main-container .section-1 {
        background-image: url('main-photo-1024.png');
    }

    .navbar-nav .nav-item {
        border: 3px solid #fff;

        &:hover,
        &.active {
            border-bottom-color: #333;
        }
    }
}

@media (max-width: 991.98px) {
    body .main-container .section-1 {
        height: calc(100vh - 35px);
    }
}

@media(min-width: 1200px) {
    .main-container .section-1 { background-image: url('main-photo-1440.png'); }
}

@media (min-width: 1400px) {
    .main-container .section-1 { background-image: url('main-photo.jpg'); }
}