header {
    .navbar-brand {
        img {
            height: 50px;
            width: 250px;
        }
    }

    .navbar-collapse { flex-grow: 0; }

    .profile-pic { padding: 6px 10px 8px; }
}

body {
    // Main Layout
    .main-container {
        .section-1 {
            background: url('main-photo.jpg') no-repeat;
            background-size: 150vw 150vh;
            background-position: 0px -400px;
            border-bottom-left-radius: 20rem;
            border-top-right-radius: 20rem;
            color: #fff;
            height: calc(100vh - 73px);

            .container-fluid {
                h1 { font-size: 4em; }
                p { font-size: 1.5em; }
            }
        }

        .section-2 {
            height: 100vh;
            background: url('rectangle-white.png') left top no-repeat;
            background-size: contain;
            background-color: #f3f3f1;
        }

        .section-3 {
            background: linear-gradient(180deg, rgba(191, 149, 39, 1) 0%, rgba(227, 209, 161, 1) 50%);
            border-top-left-radius: 20rem;

            .row .rounded { background-color: #e8e8f5; height: 100%; }
        }

        .section-4 {
            background-color: #fff;

            .row {
                .rounded { background-color: #e9ecef; height: 100%; }
                .form-floating > .form-control { background-color: #e9ecef; height: auto; }
            }
        }
    }

    // Packages Page
    .packages-container {
        .card-cont {
            max-width: 500px;

            .card {
                small { font-size: 12px; }
            }
        }
    }

    // Gallery Page
    .gallery-container {
        .card:not(.feature) {
            background-color: transparent !important;

            a {
                color: inherit;

                &:hover { text-decoration: underline !important; }
            }
        }

        .card.feature {
            img { max-height: 400px; }
        }
    }

    // Gallery Show Page
    .gallery-show-container {
        .created-date { font-size: 12px; }
        .add-comment-text { font-size: 25px; }
        video { width: 100%; }
        *:focus { outline: none !important; }
        figure {
            .figure-img { margin-bottom: 0; }

            & +  .fb-share-button {
                line-height: 0;
                iframe { height: 15px !important; width: 50px !important; }
            }
        }
    }

    // About Page
    .about-container {
        .row:first-child { margin-bottom: -4rem; }

        .section-1 {
            background: url('about-top.png') bottom center no-repeat;
            background-size: cover;
            height: 70vh;
        }

        .section-2 {
            background-color: rgba(200, 200, 200, 0.5);
        }
    }
}

footer {
    border-top: 1px solid #e7e7e7;

    .logo { font: 2rem 'Italianno', Arial, Helvetica, sans-serif; }
}

@media (max-width: 991.98px) {
    body .main-container .section-1 { height: calc(100vh - 35px); }
}

@media (min-width: 992px) {
    .navbar-nav .nav-item {
        border: 2px solid #fff;

        &:hover {
            border-bottom-color: #333;
        }
    }
}

@media (max-width: 767.98px) {
    body .main-container .section-2 { background-size: 80% 100%; }
}

@media (min-width: 576px) {
    /*
    // Packages Page
    .packages-container {
        .card {
            transition: transform .5s ease;

            &:hover {
                border-left: 1px solid rgba(0, 0, 0, 0.175);
                border-radius: 0.375rem;
                transform: scale(1.1);
                z-index: 1;
            }
        }
    }
    */
}