<nav id="sidebarMenu" class="col-md-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link"><%= icon('fa-solid', 'cart-shopping') %> Orders</a>
            </li>
            <li class="nav-item">
                <%= link_to icon('fa-solid', 'photo-film') +" Gallery", albums_path, class: "nav-link" %>
            </li>
        </ul>
    </div>
</nav>