<div class="h-100 p-5 bg-secondary-subtle border rounded-3 text-center">
    <%= icon('fa-solid', 'triangle-exclamation', class: 'text-danger fs-1 mb-3') %>

    <h2><%= title %></h2>
    <p><%= message %></p>
</div>